<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">LikarKrapkaCom</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hospitals">
                <span class="oi oi-plus" aria-hidden="true"></span> Лікарні
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="specializations">
                <span class="oi oi-plus" aria-hidden="true"></span> Спеціалізації
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="patients">
                <span class="oi oi-plus" aria-hidden="true"></span> Пацієнти
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="offices">
                <span class="oi oi-plus" aria-hidden="true"></span> Кабінети
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
